<?php

//TODO

/** @noinspection PhpUndefinedVariableInspection */
/** @var modX $modx */

/** @var ms2Extend $ms2Extend */
$ms2Extend = $modx->getService('ms2extend', 'ms2Extend', $modx->getOption('core_path') . 'components/ms2extend/model/ms2extend/', [
    'ctx' => $modx->context->key,
]);
if (!($ms2Extend instanceof ms2Extend)) {
    exit('Could not load ms2Extend');
}

$modxEvent = $modx->event->name;
switch ($modxEvent) {
    case 'ms2extOnGetProductLayout':
    case 'ms2extOnGetCategoryLayout':
    case 'ms2extOnGetSettingsLayout':
        /** @var modManagerController $controller */
        $controller->addJavascript($ms2Extend->config['ms2AssetsUrl'] . 'combo/select.example');
        break;
    case 'ms2extOnGetProductTabs':
    case 'ms2extOnGetCategoryTabs':
    case 'ms2extOnGetSettingsTabs':
        /** @var $record */
        $values = &$modx->Event->returnedValues;
        if (isset($values['tabsIds'])) {
            $tabsIds = $values['tabsIds'];
        }
        $tabsIds = [1, 2, 3];
        $values['tabsIds'] = $tabsIds;
        $modx->event->returnedValues = $values;
        break;
}
return;
